@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");
/* font-family: 'Sora', sans-serif; */
* {
  margin: 0;
  font-family: 'Sora', sans-serif;
}

*::-moz-selection {
  background-color: #613161;
  color: antiquewhite;
}

*::selection {
  background-color: #613161;
  color: antiquewhite;
}

body {
  background-image: url(../img/mc_background.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* mobile first */
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffc7c7;
  background: radial-gradient(circle, rgba(255, 199, 199, 0.9) 0%, rgba(135, 133, 162, 0.9) 100%);
}

/* nav */
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

ul li {
  list-style: none;
  margin: 2rem;
}

ul li a {
  color: black;
  text-decoration: none;
  background-color: #8785A2;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: large;
}

ul li a:hover {
  color: #ffc7c7;
}

/* finaliza nav */
.tittle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: tittle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffc7c7;
  background: radial-gradient(circle, rgba(255, 199, 199, 0.9) 0%, rgba(135, 133, 162, 0.9) 100%);
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  background: #ffc7c7;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc7c7), color-stop(22%, rgba(135, 133, 162, 0.9)));
  background: linear-gradient(180deg, #ffc7c7 0%, rgba(135, 133, 162, 0.9) 22%);
  padding: 2rem;
}

.footer .footer_redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* home */
.container_home {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 0.5fr 0.5fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr;
  gap: 0;
      grid-template-areas: "header header header header" "tittle tittle tittle tittle" "hero hero hero hero" "hero hero hero hero" "footer footer footer footer";
}

.hero {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: hero;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero a {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 199, 199, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  text-decoration: none;
  color: black;
  padding: 1rem;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.hero a:hover {
  color: blanchedalmond;
  background-color: #8785A2;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.home_text {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 199, 199, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
  margin: 2rem;
  text-shadow: 2px 2px #fff;
}

/* cursos */
.container_cursos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 0.5fr 2fr 2fr 1fr 1fr;
      grid-template-rows: 1fr 0.5fr 2fr 2fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0;
  grid-auto-flow: row;
      grid-template-areas: "header header header header" "tittle tittle tittle tittle" "bootcamp1 bootcamp1 bootcamp1 bootcamp1" "bootcamp2 bootcamp2 bootcamp2 bootcamp2" "subscribe subscribe subscribe subscribe" "footer footer footer footer";
}

.bootcamp1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: bootcamp1;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 199, 199, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.bootcamp2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: bootcamp2;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 199, 199, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.subscribe {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: subscribe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(135, 133, 162, 0.909384);
}

.subscribe a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.subscribe a:hover {
  background-color: white;
  border-radius: 15px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* torneos */
.container_torneos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 0.5fr 0.5fr 2fr 2fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 2fr 2fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0;
  grid-auto-flow: row;
      grid-template-areas: "header header header header" "tittle tittle tittle tittle" "torneo_section torneo_section torneo_section torneo_section" "torneo_section torneo_section torneo_section torneo_section" "footer footer footer footer";
}

.torneo_section {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: torneo_section;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.torneo_box {
  font-size: x-large;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 199, 199, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin: 100px;
}

.torneo_a {
  text-decoration: none;
  color: black;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.torneo_a:hover {
  color: cornsilk;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #8785A2;
  border-radius: 10px;
  padding: 0.5rem;
}

/* contactanos */
.container_contactanos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.5fr 0.5fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "header header" "tittle tittle" "contactanos_box contactanos_box" "contactanos_box contactanos_box" "footer footer";
  background-image: url(../img/mc_background.jpg);
  background-position: center;
  background-size: cover;
}

.contactanos_box {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contactanos_box;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 199, 199, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  font-size: x-large;
  font-family: 'Quicksand', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_contactanos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

/* conocenos */
.container_conocenos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 0.5fr 0.5fr 1fr 1fr 0.5fr;
      grid-template-rows: 0.5fr 0.5fr 1fr 1fr 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "header header header header" "tittle tittle tittle tittle" "conocenos_box conocenos_box conocenos_box conocenos_box" "conocenos_box conocenos_box conocenos_box conocenos_box" "footer footer footer footer";
}

.conocenos_box {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: conocenos_box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

.conocenos_text {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 199, 199, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: 2rem;
  padding: 2rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

/* media queries wide */
@media only screen and (min-width: 767px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /* home */
  .container_home {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 0.5fr 0.5fr 2fr 2fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 2fr 2fr 1fr;
    gap: 0;
        grid-template-areas: "header header header header" "tittle tittle tittle tittle" "hero hero hero hero" "hero hero hero hero" "footer footer footer footer";
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_text {
    margin-bottom: 10rem;
  }
  /* cursos */
  .container_cursos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 0.5fr 0.5fr 2fr 2fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 2fr 2fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0;
    grid-auto-flow: row;
        grid-template-areas: "header header" "tittle tittle" "bootcamp1 bootcamp2" "bootcamp1 bootcamp2" "subscribe subscribe" "footer footer";
  }
  .bootcamp1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: bootcamp1;
    margin: auto;
    padding: 1rem;
    text-align: center;
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .bootcamp2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: bootcamp2;
    margin: auto;
    padding: 1rem;
    text-align: center;
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  /* contactanos */
  .container_contactanos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 0.5fr 0.5fr 2fr 2fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 2fr 2fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "header header" "tittle tittle" "contactanos_box contactanos_box" "contactanos_box contactanos_box" "footer footer";
  }
  .main_contactanos {
    padding: 50px;
  }
  /* footer */
  .footer_redes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /* conocenos */
  .container_conocenos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 0.5fr 0.5fr 2fr 2fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 2fr 2fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "header header header header" "tittle tittle tittle tittle" "conocenos_box conocenos_box conocenos_box conocenos_box" "conocenos_box conocenos_box conocenos_box conocenos_box" "footer footer footer footer";
  }
  .conocenos_box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem;
  }
  .conocenos_text {
    height: 500px;
    width: 500px;
  }
  iframe {
    height: 500px;
    width: 500px;
  }
}
/*# sourceMappingURL=estilos.css.map */